body{font-family: Arial, Helvetica, sans-serif;font-size: 16px;margin: 0%;padding-top: 20vh;
}
#tables{display: none;}
@media only screen and (min-width: 767px){
  body{display: flex;flex-direction: column;align-items: center;}
  header{width: 60vw;box-sizing: border-box;}
  main{display:flex;flex-direction: column;align-items: center;  height: 600px;width: 800px;box-sizing: border-box;margin: 0%;padding: 0%;box-sizing: border-box;}
  .logo{position: fixed;right: 21vw;top:3vh;width:80px; height:auto;}
  .headkot{display: flex;justify-content: center;font-size: 22px;
    color: green;font-weight: bold;margin-top: 20vh;margin-bottom: 10px;}
    .lbldiv{font-size: 20px;margin: 0 0 10px 0;background-color: #333;
      width: 60vw;box-sizing: border-box;color: white;}
  .shita,.madadstyle,.taarich,.schom{border: 1px solid #333;width: 60vw;position: relative;}
  .rd{padding: 7px 0px; margin-right: 10px;}
  .btnlblup{display: none; margin: 10px}
  .dated,#schom{width: 15vw;float: left;margin-left: 1vw;text-align:center;}
  #hashev{margin: 10px 0px;width: 110px;height: 35px;font-size: 18px;
    background-color: #333;color: white;}

    .tbltozaa{width: 60vw;}
    .tbltozaaH{width: 30vw;margin-top: 20px;}
    
    tr,td,th{height: 25px;width: 13.33vw;text-align: center;}
    th{background-color: #333;color: white;border: 1px solid #333;}
    .wt{border-left: 1px solid white;}
    .wtd{border-bottom: 1px solid white;}
    .tbltozaa, tr,  td,.tbltozaaH{
     border:1px solid #333;border-collapse: collapse;background-color:rgb(238, 235, 235) ;
    
      
    }
    #tables{border:1px solid #333;width: 60vw;}
}
@media only screen and (max-width: 800px){
  .logo{position: fixed;right: 20.5vw;top:3vh;width:70px; height:auto;} 
}
@media only screen and (max-width: 768px){
  .xsign{color:white;position:fixed;left:20px;top:20px;}
  .logo{position: fixed;right: 20.5vw;top:3vh;width:70px; height:auto;} 
  body{display: flex;flex-direction: column;align-items: center;padding-top: 20vh;}
  header{width: 100vw;box-sizing: border-box;}
  main{display:flex;flex-direction: column;align-items: center;  height: auto;width: 100vw;box-sizing: border-box;margin: 0%;padding: 0%;box-sizing: border-box;}
  .logo{position: fixed;right: 2vw;top:3vh;width:80px; height:auto;}
  .headkot{display: flex;justify-content: center;font-size: 22px;
    color: green;font-weight: bold;margin-top: 20vh;margin-bottom: 10px;}
    .lbldiv{font-size: 20px;margin: 0 0 5px 0;background-color: #333;
      width: 100vw;box-sizing: border-box;color: white;text-align: center;}
  .shita,.madadstyle,.taarich,.schom{border: 1px solid #333;width: 100vw;position: relative;}
  .rd{padding: 5px 0px; margin-right: 10px;}
  .btnlblup{display: none; margin: 10px; max-width:50vw; }
  .dated,#schom{width: 45vw;float: left;margin-left: 10vw;text-align:center;}
  #hashev{margin: 10px 0px;width: 120px;height: 30px;font-size: 20px;
    background-color: #333;color:rgb(89, 227, 89);font-weight:bold;}

    .tbltozaa{width: 100vw;}
    .tbltozaaH{width: 80vw;margin-top: 20px;}
    
    tr,td,th{height: 25px;width: 13.33vw;text-align: center;}
    th{background-color: #333;color: white;border: 1px solid #333;}
    .wt{border-left: 1px solid white;}
    .wtd{border-bottom: 1px solid white;}
    .tbltozaa, tr,  td,.tbltozaaH{
      border:1px solid #333;border-collapse: collapse;background-color:rgb(238, 235, 235) ;
      
    }
  #tozk,#tozm{width:40vw;text-align:left; box-sizing:border-box;padding-left:2vw;}
  .thtozz{width:40vw;text-align:right; box-sizing:border-box;padding-right:2vw;}
  .algn{text-align:right; box-sizing:border-box;padding-right:2vw;}
   #tables{border:1px solid #333;width: 100vw;}
}
@media only screen and (max-width: 480px){
  .logo{position: fixed;right: 1vw;top:3vh;width:60px; height:auto;} 

}

/*



  
  
  
}*/
