html{font-size: 14px;}
body {margin:0;font-family:Arial;box-sizing: border-box;}
nav{height: 22vh;position: fixed;top: 0%;margin: 0%;background-color: #333;}
.koteret{display: flex;flex-direction: column; align-items: center;
  justify-content: space-between;max-height: 12vh;width: 100vw;overflow: hidden;}
  #gemely{color:gold;font-size:5vh;padding: 0% ;margin: 0%;}
  #header1{color:white;font-size:4vh;padding:0.5vh 0%;margin:0% 0% 5px 0%;
    white-space:nowrap;font-weight: bold;}
.active,.icon{color:white;font-size: 4vh;}
.topnav{width: 100vw;display:flex;margin-top: 5vh; white-space:nowrap;
  justify-content: space-between;}
.dropbtn{display: flex;max-width: 20vw;}
.dropdown-content {display: none;}
.dropdown-contenta {display: flex;flex-direction: column;align-items: center;}

.dropbtn, .dropbtna {    
  border: none;
  outline: none;
  margin-bottom: 5px;
  cursor: pointer;

  }
  
  .active {margin-left:5px ;max-width: 5vw;}
  .icon {margin-right:5px ;max-width: 5vw;}
  .icon:hover, .active:hover{color: gold;}
  .dropbtn:hover,.dropbtna:hover{color:gold;}
  .dropdown-content a, .dropdown-contenta a {
    padding: 12px 16px;
    text-decoration: none;
    
  }
  .dropdown-content a:hover, .dropdown-contenta a:hover {background-color: black;
    color: gold;text-align: center;}
  
  @media screen and (max-width: 768px) {
    #gemely,#header1{font-size: 5vh;}
    
    .dropbtna:hover{color: white;background-color: black;}
    #btn4 a{text-align: center;}
    .topnav  .dropdown .dropbtn {display: none;}
    .dropbtna {display: flex;background-color: inherit;border: none;
    outline: none;justify-content: center;width: 100vw;height: 10vh;
    align-items: center;font-size: 5vh;}
    .dropdown-contenta a{width: 100vw;height: 6vh;z-index: 100;
      font-size: 4vh;padding: 5px 0px;text-align: center;color:black;}
    .active {display: block;margin-left:5px ;min-width: 50px;text-align: center;}
    .icon {display: block;margin-right:5px ;text-align: center;min-width: 50px;}
    .topnav {display: flex;flex-direction: column;}
    a.active{position: fixed;left:5px;margin-top: 0;}
    .topnav  .dropdown{background-color: lightgray;color: black;
      border-bottom: 1px solid lightgoldenrodyellow;display: flex;flex-direction: column;
      align-items: baseline;box-sizing: border-box;}
    .icon:hover, .active:hover{background-color: white;color: black;}
      
  } 
  @media screen and (min-width: 769px) {
   .icon {display: none ;}
   .active{position: fixed;left:10px;top:16vh;}
    #btn1{margin-right: 5px;}
    .dropbtn,.dropbtna{background-color: inherit !important;color: white;
      margin-top: -4px;min-width: 12vw;font-size: 20px;}
    #myTopnav{max-width: 90vw;}
    .dropdown-content a, .dropdown-contenta a {width: 14vw;
      background-color: lightgray;border-bottom: 1px solid black;color: black;}  
      .dropdown-content a:hover, .dropdown-contenta a:hover {text-align: right; }
  }
  @media screen and (max-width: 400px) {
    #gemely,#header1{font-size: 4vh;}}
