html{font-size: 16px;position: relative;}
header{
  height:12vh;
  background-color:#333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top:0;
  width: 100vw;
  
}
body{width: 100%;margin: 0%;top: 0%;}
#span{color: gold;}

/* עיצוב בסיסי של ה-nav */
nav {
  
  background-color:#333;
  text-align: right;
  font-weight: bold;
  display: flex;
  align-items: center;
  overflow: visible;
  position: fixed;
  width: 100vw;
  top: 12vh;
  height: 10vh;
}

#mynav{position: absolute;top: 3vh;}
img{max-width: 40vw;height: auto;position:fixed;left: 50px;top:45%;border: none;}



@media screen  and (max-width:440px)  {
  #span { display: block; margin-bottom: -5px;font-size: 2rem;}
  .home{display: block;position: absolute;left:20px;font-size: 2rem;color:white;}
  nav a.icon{display: block;position: absolute;right:20px;font-size: 2rem;color:white;}

  #makaf{display: none;}
  h1{font-size: 1.5rem; margin-bottom: 5px;}
  #mynav a.anav{font-size: 22px !important;color:black;text-decoration: none;padding: 10px;
    overflow: hidden;display:block;}
}
@media screen  and (min-width:440px) and (max-width:576px)  {
  #span { display: block; margin-bottom: -5px;font-size: 2.2rem;}
  .home{display: block;position: absolute;left:20px;font-size: 2.2rem;color:white;}
nav a.icon{display: block;position: absolute;right:20px;font-size: 2.2rem;color:white;}

  #makaf{display: none;}
  h1{font-size: 1.5rem; margin-bottom: 5px;}
  #mynav a.anav{font-size: 22px !important;color:black;text-decoration: none;padding: 10px;
    overflow: hidden;display:block;} 
}
@media screen  and (min-width:576px) and (max-width:768px)  {
  .home{display: block;position: absolute;left:20px;font-size: 2.2rem;color:white;}
  #span { display: block; margin-bottom: -5px;font-size: 2.2rem;}
  nav a.icon{display: block;position: absolute;right:20px;font-size: 2.2rem;color:white;}
  #makaf{display: none;}
  h1{font-size: 1.75rem; margin-bottom: 5px;}
  #mynav a.anav{font-size: 22px !important;color:black;text-decoration: none;padding: 10px;
    overflow: hidden;display:block;}
}
@media screen  and (min-width:768px) and (max-width:992px)  {
  .home{display: block;position: absolute;left:20px;font-size: 3rem;color:white;}
  #span { display: inline; margin-bottom: -5px;font-size: 3rem;}
  #makaf{display: inline;}
  h1{font-size: 2.5rem; margin-bottom: 5px;}
  nav{font-size: 1.42rem}
  nav a.icon{display: none;}
  nav a {padding: 14px 20px; color: white; text-decoration: none;
    float: right; background-color:#333; }
  }
  @media screen  and (min-width:992px) and (max-width:1024px)  {
    .home{display: block;position: absolute;left:20px;font-size: 3.2rem;color:white;}
    #span { display: inline; margin-bottom: -5px;font-size: 3.2rem;}
    #makaf{display: inline;}
    h1{font-size: 2.7rem; margin-bottom: 5px;}
    nav{font-size: 1.8rem}
    nav a.icon{display: none;}
    nav a {padding: 14px 20px; color: white; text-decoration: none;
      float: right; background-color:#333; }
    }
  

@media screen  and (min-width:1024px)   {
  .home{display: block;position: absolute;left:20px;font-size: 3.5rem;color:white;}
  #span { display: inline; margin-bottom: -5px;font-size: 3.5rem;}
  #makaf{display: inline;}
  h1{font-size: 2.7rem; margin-bottom: 5px;}
  nav{font-size: 1.8rem}
  nav a.icon{display: none;}
  nav a {padding: 14px 20px; color: white; text-decoration: none;
    float: right; background-color:#333; }
  }
  @media screen  and (max-width:768px)   {
    nav{font-size: 1.0rem;}
    .mynav{display: none;}
    img{display: none;}
    .responsive{display: flex;flex-direction: column;position: fixed;top:22vh;transition: 0.5s;}
    .responsive a{position:relative;display:none;color:black; padding-top: 0;margin-top: 0;} 
    #mynav{width:30vw;text-align: right;background-color:white;}
   .anav:hover{background-color: white;color:black;border-bottom:lightgray;}
    #mynav{position: absolute;top: 10vh;}
    .anav:hover{background-color: rgb(163, 160, 160);color:black} 
    .mikmenu{display: none;}
    
    }
  
  @media screen  and (min-width:768px)   {
    a{cursor: pointer;}
    #mynav a{max-width: 250px;}
    .mikmenu{display: none;position: absolute; transition: 0.5s;right:-30px;top: 4vh;} 
    
  }
 #header1 {
  font-size: clamp(12px, 5vw, 36px); /* גודל הפונט משתנה בצורה דינמית */
  white-space: nowrap;              /* מונע ירידת שורה */
  overflow: hidden;                 /* מסתיר תוכן חורג */
  text-align: center;               /* מרכז את הטקסט */
}

ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
 
.machshmenu{display: none;}
.anav:hover{background-color: white;color:black}  
